<div class="list">
  <a href="http://www.imzhiqiang.com/" class="list-title"><i class="iconfont icon-link"></i> <img ng-src="https://avatars2.githubusercontent.com/u/7030019">倾城之泪</a>
  <a href="http://www.imzhiqiang.com/" class="list-content">我是谁，我从哪里来，我到哪里去？我就是我，是颜色不一样的吃货…——一个本来应该是单口相声演员的程序员</a>
</div>
<div class="list">
  <a href="http://codersheng.me/" class="list-title"><i class="iconfont icon-link"></i> <img ng-src="http://codersheng.me/assets/img/xly.jpg">盛的博客</a>
  <a href="http://codersheng.me/" class="list-content">左手代码，右手诗——一个从二次元穿越过来的程序员</a>
</div>
