<div class="article">
  <h1 class="article-title">{{post.title}}</h1>
  <div class="list-info clearfix">
    <div class="left"><i class="iconfont icon-history"></i> {{post.create_at | timeFormat}}</div>
    <div class="left">
      <i class="iconfont icon-tag"></i>
      <a href="#/posts/tag/{{tag}}" class="list-tag" ng-repeat="tag in post.tags">{{tag}}</a>
    </div>
  </div>
  <div class="article-content" ng-bind-html="post.content_html"></div>
  <!-- <a href="#" class="article-like"><i class="fa fa-heart-o"></i>&nbsp; 赞</a> -->
  <dir-disqus disqus-shortname="imziyang"
           disqus-identifier="{{ post._id }}"
           disqus-url="{{ url }}"
           ready-to-bind="{{ contentLoaded }}">
  </dir-disqus>
</div>
